{% load static   wagtailcore_tags %}

<footer class="bg-dark py-4 text-light text-md-left text-center cc-footer" >
  <div class="container">
    <div class="row mx-lg-n3">
      <div class="px-lg-3 col-lg-3 col-md-6 col-sm-12">
        <div class="cc-footer-title">Links</div>
      </div>
      <div class="px-lg-2 col-lg-3 col-md-6 col-sm-12">
        <div class="cc-footer-title">Contact Us</div>
      </div>
      <div class="px-lg-3 col-lg-3 col-md-6 col-sm-12">
            <a href="{{ settings.site_settings.SocialMediaSettings.facebook }}" class="cc-footer-social-icon">
              <img src="{% static 'images/facebook.svg' %}" alt="Facebook">
            </a>

            <a href="{{ settings.site_settings.SocialMediaSettings.twitter }}" class="cc-footer-social-icon">
              <img src="{% static 'images/twitter.svg' %}" alt="Twitter">
            </a>

            <a href="{{ settings.site_settings.SocialMediaSettings.instagram }}" class="cc-footer-social-icon">
              <img src="{% static 'images/instagram.svg' %}" alt="Instagram">
            </a>

            <a href="{{ settings.site_settings.SocialMediaSettings.youtube }}" class="cc-footer-social-icon">
              <img src="{% static 'images/youtube.svg' %}" alt="YouTube">
            </a>
        <div class="cc-footer-copy">&copy; {% now "Y" %} Rocketman</div>
     </div>
    </div>
  </div>
</footer>
