{% load static   wagtailcore_tags menu_tags %}
{% get_menu "header" as navigation %}

<footer class="bg-dark py-4 text-light text-md-left text-center cc-footer" >
  <div class="container">
    <div class="row mx-lg-n3">
      <div class="px-lg-3 col-lg-3 col-md-6 col-sm-12">
        <div class="cc-footer-title">Links</div>
          {% for item in navigation.menu_items.all %}
            <a class="cc-footer-link-lg d-block" href="{{ item.link }}" {% if item.open_in_new_tab %}target="_blank"{% endif %}>
              {{ item.title }}
            </a>
          {% endfor %}
      </div>
    </div>
  </div>
</footer>
